= form_for :comment, :url =>  proposal_comments_path(proposal.id) do |f|
  .row
    .col-md-1
      = image_tag current_user.email
    .col-md-10
      = f.text_area :body, placeholder: "Write a comment..."
    .col-md-1
      = f.submit "<i class='fa fa-check'></i>",  :class=>"btn btn-success pull-right yellow-btn"
