.modal.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "expenditure-#{candidature.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Detalhamento de Despesas da candidature
      .modal-body
        %table
          %thead
            %tr
              %th Fornecedor
              %th Valor
              %th Descrição
          - candidature.expenditures.each do |expenditure|
            - if expenditure.sequencial_candidato == candidature.sequencial_candidato
              %tbody
                %tr
                  %td= expenditure.seller
                  %td= expenditure.price
                  %td= expenditure.description
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
