body div .candidato .modal {
  display: none;
  color: #312A1E;
  overflow: visible;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

body div .candidato{
  color: #FFF;
  font-size: 100%;
  font-family: 'Quattrocento', serif;
  margin:20px;
}

.box {
/*Degrade*/
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
/*cantos arredondados*/
  border-radius: 5px 5px 5px 5px;
/*Sobreamente*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-height: 300px;
  /*overflow: hidden;*/
  margin-bottom: 10px;
}
.infobox {
/*Degrade*/
  background: -moz-linear-gradient(#4E6B73, #90A2A8) no-repeat scroll 0 0 transparent;
/*cantos arredondados*/
  border-radius: 5px 5px 5px 5px;
/*Sobreamente*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-height: 300px;
  /*overflow: hidden;*/
  margin-bottom: 10px;
}


.collapse {
  display: block;
}

body div .candidato .btn{
  margin: 0px;
}
