body div .candidate .modal {
  display: none;
  color: #312A1E;
  overflow: visible;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

body div .candidate{
  color: #312A1E;
  font-size: 100%;
  font-family: 'Quattrocento', serif;
  margin:20px;
}

#candidate_number{

}

.box {
/*Degrade*/
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
/*cantos arredondados*/
  border-radius: 5px 5px 5px 5px;
/*Sobreamente*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-height: 300px;
  /*overflow: hidden;*/
  margin-bottom: 10px;
  overflow-y: hidden;

}
.infobox {
/*Degrade*/
  background: -moz-linear-gradient(#4E6B73, #90A2A8) no-repeat scroll 0 0 transparent;
/*cantos arredondados*/
  border-radius: 5px 5px 5px 5px;
/*Sobreamente*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-height: 300px;
  /*overflow: hidden;*/
  margin-bottom: 10px;
}


.collapse {
  display: block;
}

body div .candidate .btn{
  margin: 0px;
}

#proposal_title{
  height: auto;
  margin-left: 0px;
}

#new_proposal .btn{
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  padding-bottom: 25px;
  width: 20%;
}

#proposal_description{
  height: 120px;
  margin-bottom: 10px;
}

.box-proposal form {
    width: 100%;
    height: 70%;
    margin-left: 5px;
}

.box-proposal .btn{
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  padding-bottom: 25px;
  width: 100%;

}

.box-proposal .comment .row{
  margin-left: 15px;
}

.box-proposal .comment .row label{
    width:55px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 0px;
  }

.box-proposal .col-md-12 textarea{
  margin-left: 5px;
}
