/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require legend
 *= require bootstrap-responsive
 *= require_self
 */

.collapse {
  display: block;
}

.icons-wrapper {
  position: absolute;
  bottom: 0;
  left: 42%;
}

.login-btn-wrapper {
  margin-left: 20px;
}
.login.btn {
  font-family: 'Patua One', cursive;
  color: #fff;
  width: 85px;
  height: 20px;
  text-shadow: none;
  font-size: 1.3125em; /* 21px */
  padding: 1em 0.5em;
  letter-spacing: 0.05em;
  margin: auto 0;
  display: block;
  border: 0;
  text-transform: none;
  background: #f0bf00 !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.login.btn:link, .btn:visited {
  color: #fff;
}
.login.btn:hover {
  background: #312A1E !important;
}